@model PodCastApp.Models.PodCast

@{
    ViewBag.Title = "EditPodCast";
    Layout = "~/Views/Shared/_admin.cshtml";
}

 
<form action="~/Portal/EditPodCast" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        <h4>Updating PodCast</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label class="control-label col-md-2">Podcast Title</label>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Model.title" name="model.title" />
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tag File</label>
            <div class="col-md-10">
                <input type="text" class="form-control" value="@Model.tag" name="model.tag" />
                @Html.ValidationMessageFor(model => model.tag, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Upload A New File</label>
            <div class="col-md-10">
                <input type="file" value=" @Model.file" name="model.file" />
                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <label class="control-label col-md-2">File Description</label>
            <div class="col-md-10">
                <textarea type="text" class="form-control" name="model.description" cols="40" rows="10">@Model.description</textarea>
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-block btn-success" />
            </div>
        </div>
    </div>
    </form>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
